@import url(./assets/styles/variables.css);
@import url(./assets/styles/navbar.css);
@import url(./assets/styles/bannerTop.css);
@import url(./assets/styles/articleTop.css);
@import url(./assets/styles/goals.css);
@import url(./assets/styles/valuesSection.css);

/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  vertical-align: baseline;
  list-style: none;
  border: 0;
  color: var(--gray-article);
}

html {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Segoe UI Regular', sans-serif;
}
body {
  width: 100%;
}
.title {
  font-size: 1.5rem;

  color: var(--title);
  white-space: nowrap;
}
@media (min-width: 720px) {
  .title {
    font-size: 2rem;
  }
}
@media (min-width: 720px) {
  .title {
    font-size: 2.7rem;
  }
}
