.article-bottom h2 {
  font-size: 1rem;
  font-weight: 500;

  padding: 0 1.5rem;
  text-align: center;
}
@media (min-width: 500px) {
  .article-bottom h2 {
    font-size: 1.1rem;

    padding: 0 2.5rem;
  }
}
@media (min-width: 720px) {
  .article-bottom h2 {
    font-size: 1.3rem;
  }
}
@media (min-width: 960px) {
  .article-bottom h2 {
    font-size: 1.4rem;

    padding: 0 3.5rem;
  }
}

@media (min-width: 1200px) {
  .article-bottom h2 {
    font-size: 1.5rem;

    padding: 0 5rem;
  }
}
