.banner-top {
  height: 30rem;

  background-image: url('../images/banners/top-banner.png');
  background-position: 39% 40%;
}
.banner-top__blur {
  height: 100%;
  width: 100%;

  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.banner-top__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-top__title {
  font-size: 2.1rem;
  width: min-content;

  margin: 0 auto;

  color: var(--white);
  white-space: nowrap;
}
.banner-top__subtitle {
  width: 25ch;

  margin: 1.2rem 0 0.3rem;

  text-align: center;
  overflow: hidden;
  color: var(--white);
}
.banner-top__button {
  height: 2.4rem;
  width: min-content;
  font-weight: 600;

  padding: 0 1.4rem;
  margin: 2rem 0;
  position: relative;
  left: 50%;
  transform: translate(-50%);

  background-color: var(--blue-button-top-banner);
  color: var(--white);
  font-family: var(--bold);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.banner-top__footer {
  height: 4rem;
  width: 100%;

  padding: 4rem 0 1rem 0;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.banner-top__footer a {
  margin-right: auto;

  display: none;
}
.banner-top__arrow {
  height: 2rem;
}
.banner-top__logo {
  height: 1.5rem;

  margin-right: 0.4rem;
}
@media (min-width: 500px) {
  .banner-top__blur {
    padding-bottom: 2rem;
  }
  .banner-top__title {
    font-size: 2.1rem;
  }
  .banner-top__subtitle {
    font-size: 1.1rem;
  }
  .banner-top__button {
    font-size: 1.1rem;
    height: 2.6rem;

    padding: 0rem 1.7rem;
  }
}
@media (min-width: 720px) {
  .banner-top {
    height: auto;
  }
  .banner-top__blur {
    padding: 6rem 0 0 3.5rem;
    align-items: flex-start;
  }
  .banner-top__content {
    align-items: flex-start;
  }
  .banner-top__title {
    margin: 0;
  }
  .banner-top__subtitle {
    width: min-content;

    margin-bottom: 1rem;
    text-align: left;

    white-space: nowrap;
  }
  .banner-top__button {
    position: static;
    transform: translate(0);
  }
  .banner-top__footer {
    justify-content: flex-end;
    align-items: flex-end;

    padding: 7rem 4rem 1.85rem 0.5rem;
  }
  .banner-top__logo {
    height: 1.7rem;

    margin-bottom: 0.6rem;
  }
  .banner-top__footer a {
    display: initial;
  }
  .banner-top__arrow {
    height: 3rem;
  }
}
@media (min-width: 960px) {
  .banner-top__title {
    margin-top: 1rem;

    font-size: 2.7rem;
  }
  .banner-top__subtitle {
    font-size: 1.5rem;

    margin-top: 1rem;
  }
  .banner-top__button {
    height: 3.3rem;
    font-size: 1.4rem;

    padding: 0 2rem;
    margin: 4rem 0 2rem;
  }
  .banner-top__footer {
    width: 90%;

    padding: 0;
    margin: 3rem 0 2.5rem;
  }
}
@media (min-width: 1200px) {
  .banner-top__blur {
    padding-left: 7rem;
  }
  .banner-top__title {
    font-size: 3rem;
  }
}
