.nav {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  background-color: var(--blue-nav);
}
.nav__logo {
  display: none;
  cursor: pointer;
}
.nav__hamburguer {
  height: 1.3rem;

  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
  cursor: pointer;
}
.nav__button {
  height: 2.3rem;
  font-weight: 600;

  padding: 0rem 1.2rem;

  background-color: var(--blue-button-nav);
  color: var(--white);

  font-family: var(--bold);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.menu {
  width: 100%;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.3rem 0 2rem;
  position: absolute;
  z-index: 999;

  background-color: var(--white);
}

@keyframes slide {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu__option {
  width: 70%;
  padding: 0.5rem 1rem;
  margin: 0.3rem 0;

  border: 1px solid var(--white);
  background-color: var(--blue-nav);
  color: var(--white);
  cursor: pointer;
}
.menu__option--slide-one {
  animation: slide 0.5s ease-out;
}
.menu__option--slide-two {
  animation: slide 0.7s ease-out;
}
.menu__option--slide-three {
  animation: slide 0.9s ease-out;
}

.menu-desktop {
  display: none;
}

@media (min-width: 500px) {
  .nav {
    padding: 0.5rem 1.5rem;
  }
  .nav__hamburguer {
    height: 1.6rem;
  }
  .nav__button {
    font-size: 1rem;
    height: 2.5rem;
  }
}
@media (min-width: 720px) {
  .nav {
    padding: 1rem 1.5rem 1rem 3rem;
  }
  .nav__hamburguer {
    display: none;
  }

  .nav__logo {
    display: block;
    height: 1.4em;

    align-self: center;
  }
  .menu {
    display: none;
  }
  .menu-desktop {
    display: flex;
    margin-left: auto;
    padding-right: 1rem;

    color: var(--white);
  }
  .menu-desktop__option {
    padding: 0 1rem;
    display: flex;
    align-items: center;

    white-space: nowrap;
    cursor: pointer;
  }
}
@media (min-width: 960px) {
  .nav {
    padding: 1.5rem 2rem 1.5rem 6rem;
    font-size: 1rem;
  }
  .nav__logo {
    height: 1.7rem;
  }
  .nav__button {
    height: 2.2rem;
  }
  .menu-desktop__option {
    padding: 0 2rem;
  }
}
@media (min-width: 1200px) {
  .nav {
    padding: 1.5rem 6rem 1.5rem 8.5rem;
  }
  .menu-desktop {
    padding-right: 4rem;
  }
  .menu-desktop__option {
    padding: 0 2rem;
  }
  .nav__button {
    height: 2.3rem;
  }
}
