.values {
  padding: 4rem 1rem;
}
.values__title {
  text-align: center;
}
.values__card-wrapper {
  padding: 2rem 0;

  border-bottom: 4px solid var(--border);
}
.values__card-wrapper h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.values__card-wrapper .values__button {
  height: 2.5rem;
  font-family: var(--bold);
  font-weight: 600;

  padding: 0 0.5rem;

  background-color: unset;
  cursor: pointer;
}
.values__content {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}
.values__content p {
  font-size: 0.8rem;

  padding-right: 1rem;
  display: -webkit-box;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  text-overflow: clip;
  overflow: hidden;
}
.values__content h2 {
  display: none;
}

.values__image-wrapper {
  border-radius: 50%;

  display: flex;
  align-items: center;

  padding: 1.2rem;
}
.values__image-wrapper img {
  height: 2.5rem;
  width: 2.5rem;
}

.values__content--one .values__image-wrapper {
  background-color: var(--values-one);
}
.values__card-title--one {
  color: var(--values-one);
}
.values__button.values__button--one {
  border: 2px solid var(--values-one);
  color: var(--values-one);
}

.values__content--two .values__image-wrapper {
  background-color: var(--values-two);
}
.values__card-title--two {
  color: var(--values-two);
}
.values__button.values__button--two {
  border: 2px solid var(--values-two);
  color: var(--values-two);
}

.values__content--three .values__image-wrapper {
  background-color: var(--values-three);
}
.values__card-title--three {
  color: var(--values-three);
}
.values__button.values__button--three {
  border: 2px solid var(--values-three);
  color: var(--values-three);
}

@media (min-width: 500px) {
  .values__image-wrapper {
    margin-right: 1rem;
  }
  .values__image-wrapper img {
    height: 3.5rem;
    width: 3.5rem;
  }
  .values__content p {
    padding-right: 2.5rem;
  }
}
@media (min-width: 720px) {
  .values {
    margin-top: 5rem;
  }
  .values__container {
    padding: 0 4rem;
  }
  .values__title {
    margin-bottom: 2.2rem;
  }
  .values__card-wrapper h2 {
    font-size: 1.2rem;
    white-space: nowrap;
  }
  .values__card-wrapper p {
    font-size: 1rem;
  }
  .values__button.values__button--one,
  .values__button.values__button--two,
  .values__button.values__button--three {
    height: 3rem;
    padding: 0 3rem;
    font-size: 0.9rem;
  }
  .values__image-wrapper img {
    height: 4.5rem;
    width: 4.5rem;
  }
}
@media (min-width: 960px) {
  .values__container {
    display: flex;
  }
  .values__content {
    flex-direction: column-reverse;
  }
  .values__card-wrapper--title-hide {
    display: none;
  }
  .values__content h2 {
    display: initial;

    margin: 1rem 0;
  }
  .values__image-wrapper {
    margin: 0;
    padding: 2.5rem;
  }
  .values__image-wrapper img {
    height: 5rem;
    width: 5rem;
  }
  .values__card-title--after::after {
    display: flex;
    margin: 1rem auto 0;
    content: '';
    background-color: var(--border);
    width: 33%;
    height: 5px;
  }
  .values__card-wrapper {
    border: none;
  }
  .values__card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .values__card-wrapper p {
    text-align: center;

    padding: 0 2rem;
  }
  .values__button.values__button--one,
  .values__button.values__button--two,
  .values__button.values__button--three {
    font-size: 1rem;

    padding: 0 0.5rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1200px) {
  .values__card-wrapper p {
    font-size: 1rem;
  }
  .values__card-wrapper h2 {
    font-size: 1.3rem;
  }
  .values__button.values__button--one,
  .values__button.values__button--two,
  .values__button.values__button--three {
    padding: 0 0.3rem;
  }
}
