@font-face {
  font-family: 'Segoe UI Regular';
  src: url(../fonts/segoeuib.ttf) format('ttf'),
    url(..fonts/segoeuil.ttf) format('ttf'),
    url(../fonts/segoeui.ttf) format('ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --regular: 'Segoe UI Regular';
  --bold: 'Segoe UI';
  --ligth: 'Segoe UI Light';
  --white: #fff;
  --black: #000;
  --blue-nav: #2571b7;
  --blue-button-nav: #002050;
  --blue-button-top-banner: #00a4ef;
  --gray-article: #747474;
  --orange-featured: #fd673d;

  --title: #2b75b9;
  --border: #dedede;

  --goal-one: #0072c6;
  --goal-two: #2c5898;
  --goal-three: #207245;
  --goal-four: #cb4a32;
  --goal-five: #733781;
  --goal-six: #00aff0;
  --goal-seven: #094ab2;
  --goal-eight: #0073c6;
  --goal-nine: #0093be;
  --goal-ten: #5558af;

  --values-one: #7fba00;
  --values-two: #00a4ef;
  --values-three: #ffb900;
}
